html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(320deg, #eb92be, #ffef78, #63c9b4);
  height: inherit;
}

/* 스크롤바의 너비 */
.todos-section::-webkit-scrollbar {
  width: 10px;
}

/* 스크롤바의 색상 */
.todos-section::-webkit-scrollbar-thumb {
  background: #d72880;
  border-radius: 16px;
}

/*스크롤바 뒷 배경 색상*/
.todos-section::-webkit-scrollbar-track {
  background: rgba(215, 40, 128, 0.08);
  border-radius: 16px;
}

.container {
  backdrop-filter: blur(5.5px);
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.01);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
  color: #232323;
  height: 600px;
  padding: 30px 25px;
  width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.auth-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}

textarea,
input {
  border: 1px solid rgba(255, 255, 255, 0.01);
  padding: 14px 10px;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(5.5px);
  color: #232323;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
}

textarea {
  width: 100%;
  height: 30.25em;
  resize: none;
}

textarea:focus,
input:focus {
  outline: 3px solid rgba(215, 40, 128, 0.4);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset !important;
  -webkit-text-fill-color: #232323 !important;
}

.w-100 {
  width: 100%;
}

.primary-btn {
  background-color: #d72880;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.4s;
  color: #fff;
}

.primary-btn:hover,
.primary-btn:focus {
  box-shadow: 0px 0px 0px 5px rgba(215, 40, 128, 0.4);
}

strong {
  transition: all 0.3s;
  cursor: pointer;
}

strong:hover {
  color: #d72880;
  text-decoration: underline;
}

.main-separator {
  display: flex;
  gap: 10px;
}

.tool-box {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.tool-box span {
  border-radius: 100%;
  padding: 10px;
  backdrop-filter: blur(5.5px);
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.01);
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
  cursor: pointer;
  font-weight: bold;
  color: #232323;
  font-size: 33px;
  transition: all 0.3s;
}

.tool-box span:hover {
  color: #d72880;
}

.todos-section {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  width: 100%;
  overflow-y: scroll;
}

li {
  padding: 20px 8px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.time-stamp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 4px;
  font-size: 8px;
  background-color: #999;
  color: white;
  border-radius: 5px;
}

.title {
  font-size: 30px;
}

.content {
  font-size: 16px;
}
