html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(320deg, #eb92be, #ffef78, #63c9b4);
  height: inherit;
}

.wrapper {
  backdrop-filter: blur(5.5px);
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.01);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
  color: #232323;
  width: 450px;
  min-height: 600px;
  padding: 30px 25px;
}

input {
  border: 1px solid rgba(255, 255, 255, 0.01);
  width: 100%;
  padding: 10px 10px;
  background: rgba(255, 255, 255, 0.75);
  color: #333;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
}

.w-100 {
  width: 100%;
}
.primary-btn {
  backdrop-filter: blur(5.5px);
  background-color: #d72880;
  border: none;
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  transition: all 0.4s;
  color: #fff;
}
